<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Perspective_Thema15exercise1::perspective" title="Thema15exercise1" module="Perspective_Thema15exercise1" sortOrder="51" resource="Perspective_Thema15exercise1::perspective"/>
        <add id="Perspective_Thema15exercise1::perspective_configuration" title="Configuration" module="Perspective_Thema15exercise1" sortOrder="99" parent="Perspective_Thema15exercise1::perspective" action="adminhtml/system_config/edit/section/perspective" resource="Perspective_Thema15exercise1::perspective"/>
    </menu>
</config>