<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="thema15exercise1" translate="label" sortOrder="1000">
            <label>Thema15exercise1</label>
        </tab>
        <section id="perspective" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">

            <label>Thema15exercise1</label>
            <tab>thema15exercise1</tab>
            <resource>Perspective_Thema15exercise1::perspective</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" type="select" translate="label,comment,tooltip" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>perspective/general/enabled</config_path>
                    <comment>Helpful message about using this field</comment>
                    <tooltip>Longer helpful message about using this field</tooltip>
                </field>


                <field id="discount" type="text" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>discount</label>
                    <validate>required-entry number</validate>
                    <config_path>perspective/general/discount</config_path>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                                
 
                
                
            </group>
        </section>
    </system>
</config>