<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Perspective_Thema16ChangeProductPrice::perspective" 
            title="Thema16ChangeProductPrice" 
            module="Perspective_Thema16ChangeProductPrice" 
            sortOrder="51"
            resource="Perspective_Thema16ChangeProductPrice::perspective"/>
        <add id="Perspective_Thema16ChangeProductPrice::perspective_configuration"
            title="Configuration"
            module="Perspective_Thema16ChangeProductPrice"
            sortOrder="99"
            parent="Perspective_Thema16ChangeProductPrice::perspective" 
            action="adminhtml/system_config/edit/section/thema16changeproductprice"
            resource="Perspective_Thema16ChangeProductPrice::perspective"/>
    </menu>
</config>