<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Catalog\Model\Product">
        <plugin name="plugin_change_threshold"
                type="Perspective\Thema16Ex3ChangeThreshold\Plugin\ChangeThreshold" 
                sortOrder="1"
                disabled="false"/>
    </type>
</config>